main {
    margin: 0;
    padding: 0;
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* border: 2px solid red; */
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.box {
    margin: 0;
    height: 10rem;
    width: 10rem;
    border: 2px solid black;
}

.box:hover {
    background-color: grey;
}

#box1, #box2, #box3 {
    border-top: none;
}

#box3, #box6, #box9 {
    border-right: none;
}

#box7, #box8, #box9 {
    border-bottom: none;
}

#box1, #box4, #box7 {
    border-left: none;
}